USE [master]
GO
/****** Object:  Database [finance]    Script Date: 2023-01-13 01:23:31 ******/
CREATE DATABASE [finance]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finance]
GO
/****** Object:  Table [dbo].[_AccountCtl]    Script Date: 2023-01-13 01:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AccountCtl](
	[_id] [bigint] NOT NULL,
	[_no] [nvarchar](255) NULL,
	[_name] [nvarchar](255) NULL,
	[_connstr] [nvarchar](255) NULL,
	[_createTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[_AccountUser]    Script Date: 2023-01-13 01:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AccountUser](
	[_id] [bigint] NOT NULL,
	[_no] [nvarchar](255) NULL,
	[_name] [nvarchar](255) NULL,
	[_pwd] [nvarchar](255) NULL,
	[_lastLoginTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[_AccountCtl] ADD  DEFAULT ((0)) FOR [_id]
GO
ALTER TABLE [dbo].[_AccountUser] ADD  DEFAULT ((0)) FOR [_id]
GO
USE [master]
GO
